<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAvO10r9PPdJUjEY0ye8Jvg6CPH0TSi1Fo</string>
	<key>GCM_SENDER_ID</key>
	<string>834760977199</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.easyChat</string>
	<key>PROJECT_ID</key>
	<string>easy-chat-cf74b</string>
	<key>STORAGE_BUCKET</key>
	<string>easy-chat-cf74b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:834760977199:ios:becd07893594a9bcc00fda</string>
</dict>
</plist>